@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type=button] {
        @apply active:bg-lime-400 bg-lime-400 border border-transparent cursor-pointer disabled:opacity-25
            focus:border-lime-400 focus:outline-none focus:ring focus:ring-lime-400 font-semibold h-[52px]
            hover:bg-lime-500 items-center px-4 py-2 rounded-md text-xs text-black tracking-widest transition uppercase
            w-full
    }

    input[type=date], input[type=number], input[type=text], select {
        @apply block border-lime-400 focus:border-lime-400 focus:ring focus:ring-lime-400 focus:ring-opacity-50
            mt-1 rounded-md shadow-sm w-full;
    }
}

[list]::-webkit-calendar-picker-indicator {
    display:none !important;
}
